.wrapper {
    width: 100%;
    height: var(--controlbar-height);
    background-color: var(--black);
    padding: 0;
    margin: 0;
    position: fixed;
    bottom: 0;
    display: flex;
}

.current-song {
    width: 30%;
    height: 100%;
    background-color: red;
}

.main-control {
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
}

.progress-bar-btn {

}

.progress-bar {

}

.action-right-bar {
    height: 100%;
    width: 30%;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: violet;
}
